.additional {
  display: flex;
  position: relative;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding-top: 33px;
    margin: 0;
    align-items: flex-start;
    width: auto;
    display: grid;
    grid-template-columns: 147px 1fr;
    column-gap: 20px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
  }
}

.additional__textarea {
  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.order__form-fieldset.additional {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 43px 1fr;
    padding-left: 60px;
    padding-right: 160px;
  }
}
