.blog__title {
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding-top: 21px;
  padding-bottom: 26px;
}

.blog__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}
