.button {
  border: 2px solid #444444;
  color: #444444;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  padding: 14px 35px;
  background-color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &:hover,
  &:focus {
    background-color: $extra-dark;
    color: $basic-white;
  }

  &:active {
    color: rgba($basic-white, 0.3);
  }
}
