.button {
  border: 2px solid #444444;
  color: #444444;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  padding: 14px 35px;
  background-color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
