.featured {
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 53px;
    padding-bottom: 50px;

    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: 85px 130px 165px 70px;
    column-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 150px 320px 60px 525px;
    padding-top: 70px;
    padding-bottom: 76px;
    grid-template-rows: 155px 10px 130px 218px 73px;
  }
}

.featured__title {
  color: $basic-black;
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  display: grid;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin: 0;
    margin-bottom: 37px;

    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/3;
    grid-column: 2/5;
    z-index: 1;

    font-size: 53px;
    line-height: 57px;
    padding-top: 60px;
  }
}

.featured__legend {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-green;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 17px;
    line-height: 17px;
    margin-left: 200px;
    max-width: 80px;
    text-align: center;

    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 4;
    justify-self: center;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/3;
    grid-column: 1/2;
    z-index: 1;
    margin-left: 20px;
    align-self: end;
    margin-bottom: 62px;
  }
}

.featured__description {
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    max-width: 292px;

    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
  }

  @media (min-width: $desktop-width) {
    grid-row: 2/3;
    grid-column: 2/3;
    margin-bottom: 52px;
  }
}

.featured__list {
  margin: 0;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 2;
  }

  @media (min-width: $desktop-width) {
    grid-row: 4/5;
    grid-column: 2/3;
  }
}

.featured__item {
  margin: 0;
  border-bottom: 1px solid $border-color;
  display: grid;
  grid-template-columns: 60px 160px;
  padding: 10px 0;
}

.featured__image {
  max-width: none;
  margin: 0 auto;
  margin-top: 15px;
}

.featured__image-wrapper {
  @media (min-width: $tablet-width) {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 6;
    grid-column-end: 4;

    margin: 0;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/5;
    grid-column: 3/4;
  }
}

.featured__price {
  padding: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  margin-bottom: 28px;
  margin-top: 16px;

  @media (min-width: $tablet-width) {
    font-size: 20px;

    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 2;
  }

  @media (min-width: $desktop-width) {
    grid-row: 5/6;
    grid-column: 2/3;
    margin-right: 25px;
  }
}

.featured__button {
  @media (max-width: $mobile-max-width) {
    max-width: 400px;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 2;

    font-size: 17px;
    height: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 6/7;
    grid-column: 2/3;
    margin-right: 27px;
  }
}
