.fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.fieldset__list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 25px;

  &--name {
    @media (min-width: $tablet-width) {
      padding-top: 7px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 0;
    }
  }
}

.fieldset__list.checkbox {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0;
  }
}

.fieldset .checkbox .fieldset__item {
  @media (min-width: $tablet-width) {
    width: 235px;
  }

  @media (min-width: $desktop-width) {
    width: 263px;
  }
}

.fieldset__title {
  display: flex;
  align-items: center;
  color: $basic-green;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  padding: 0;
  position: relative;
  margin-bottom: 36px;

  &::after {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    background-color: #63d1bb;
    margin-left: 20px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 18px;
    align-items: flex-start;

    &::after {
      display: none;
    }
  }
}

.fieldset__title--name {
  margin-bottom: 31px;
}

.fieldset__title--checkbox {
  margin-bottom: 22px;
}

.fieldset__title--tel,
.fieldset__title--email,
.fieldset__title-add {
  margin-bottom: 10px;
}

.fieldset__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }
}

.fieldset__item {
  padding-bottom: 10px;
  display: flex;
  position: relative;

  @media (min-width: $tablet-width) {
    align-items: center;
    margin-bottom: 15px;
  }
}

.fieldset__item--column {
  flex-direction: column;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    width: auto;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 96px 580px;
    margin-bottom: 10px;
  }
}

.form__element--name .fieldset__item--column:first-child {
  @media (min-width: $desktop-width) {
    grid-template-columns: 50px 660px;
  }
}

.fieldset__item--tel input,
.fieldset__item--email input {
  @media (min-width: $tablet-width) {
    padding-right: 260px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 380px;
  }
}

.fieldset__item--tel,
.fieldset__item--email {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    padding-right: 260px;
    grid-template-columns: 150px 500px;
    padding-top: 15px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-right: 260px;
    grid-template-columns: 93px 699px;
    margin-bottom: 0;
    padding-top: 13px;
  }
}

.fieldset__item--email {
  white-space: nowrap;
}

.fieldset .name .fieldset__item--column {
  @media (min-width: $tablet-width) {
    grid-template-columns: auto 1fr;
  }
}

.fieldset__input {
  border: none;
  border-bottom: 2px solid $basic-black;
  padding-top: 17px;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-left: 20px;
    font-weight: 400;
    font-size: 19px;
    line-height: 18px;
    padding-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 15px;
    padding-bottom: 12px;
    max-width: 600px;
  }
}

.fieldset__input-tel {
  padding-top: 9px;
  padding-bottom: 15px;
}

.fieldset__input-email {
  padding-top: 10px;
  margin-bottom: 4px;

  @media (min-width: $desktop-width) {
    padding-top: 14px;
  }
}

.fieldset__item-icon {
  position: absolute;
  right: 0;
  top: 55%;
  transform: translateY(-50%);
  margin-right: 5px;
  opacity: 0.8;
  transition: color $transition-duration, opacity $transition-duration;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    top: 55%;
    margin-right: 25px;
  }

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    top: 50%;
    margin-right: 0;
  }
}

.fieldset textarea {
  margin-top: 22px;
  padding-left: 17px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid $extra-dark;
  resize: none;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 50px;
    margin-right: 15px;
  }
}

.fieldset__additional-title {
  margin-bottom: 0;

  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}

.fieldset__list--tel {
  margin: 0 0 -8px;
}
