.main-container__title {
  margin: 0;
  padding: 20px 0;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  background-color: $grey;
  min-height: 176px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    font-size: 43px;
    line-height: 50px;
    min-height: 222px;
    border-top: 1px solid $border-color;
    margin-top: -71px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 24px;
      background-image: url("../../img/bg-zigzag-fill.svg");
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    padding-top: 32px;
    min-height: 249px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 34px;
      background-image: url("../../img/zigzag-fill-desktop.svg");
    }
  }
}
