.modal {
  background-color: rgba($basic-white, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.modal__wrapper {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 45px;
  padding-left: 30px;
  border: 1px solid $modal-border;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  background-color: $basic-white;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    padding-top: 35px;
    padding-right: 98px;
    padding-left: 89px;
    max-width: 405px;
  }
}

.modal__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 30px;
    line-height: 57px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
  }
}

.modal__note {
  color: $extra-dark;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    padding-top: 5px;
  }
}

.modal__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  color: $extra-dark;
  padding-right: 30px;
  padding-left: 30px;

  @media (min-width: $tablet-width) {
    padding: 0 27px;
  }
}

.modal__size {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  border: 2px solid rgba($extra-dark, 0.1);

  &:hover {
    border: 2px solid rgba($extra-dark, 0.3);
  }

  &:active {
    border: 2px solid $basic-green;
  }

  @media (min-width: $tablet-width) {
    padding: 13px 50px;
  }
}

.modal__input:checked + .modal__size {
  border: 2px solid $basic-green;
}

.modal__button {
  border: none;
  width: 80%;
  background-color: $basic-green;
  color: $basic-white;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  padding: 16px;
  margin: 0 auto;

  &:hover {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 90%;
  }
}
