.order {
  padding: 0;
  padding-top: 17px;
}

.order__description {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 29px;
  color: #444444;
}

.order-form__legend {
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}
