.product__item {
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 28px;
  }

  @media (min-width: $tablet-width) {
    display: flex;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }

  &:hover .product__wrapper,
  &:focus .product__wrapper {
    box-shadow: 0 6px 10px rgba($basic-black, 0.1);
  }

  &:active .product__wrapper {
    box-shadow: 0 3px 5px rgba($basic-black, 0.1);
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 350px;
    margin-right: 51px;
    margin-bottom: 30px;
  }
}

.product__title {
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  &:hover,
  & a:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.product__image-link {
  display: block;

  @media (min-width: $tablet-width) {
    height: 333px;
  }

  @media (min-width: $desktop-width) {
    height: 462px;
  }
}

.product__wrapper {
  padding: 28px;
  border: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding-left: 31px;
    padding-bottom: 25px;
    box-sizing: border-box;
    width: 336px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: 100%;
  }
}

.product__link {
  color: inherit;
  text-decoration: none;
}

.product__description {
  font-size: 13px;
  line-height: 30px;
  margin: 0;
  margin-top: 6px;
  padding: 0;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }
}

.product__price {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.product__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
  border-top: 1px solid $border-color;
  margin-top: auto;
}
