.reviews {
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    padding-top: 22px;
    padding-bottom: 21px;
    display: grid;
    grid-template-columns: 260px 235px 200px;
    grid-template-rows: 125px 150px 150px;
    align-items: start;
    margin-bottom: 67px;

    background-image: url("../../img/index-images/reviews.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 68px;
    grid-template-columns: 422px 442px 170px;
  }
}

.reviews.wrapper {
  @media (min-width: $desktop-width) {
    max-width: 1050px;
    margin-bottom: 66px;
    padding-left: 75px;
    padding-right: 0;
  }
}

.reviews__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;

    grid-row: 1/2;
    grid-column: 1/2;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    padding-left: 175px;
  }
}

.reviews__item {
  padding: 0;
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  margin-bottom: 32px;
}

.reviews__text {
  padding: 0;
  color: #444444;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
  }
}

.reviews__list {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    padding-right: 50px;
    grid-row: 2/3;
    grid-column: 1/4;
  }

  @media (min-width: $desktop-width) {
    grid-row: 2/3;
    grid-column: 1/4;
  }
}

.reviews__author-name {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  text-transform: none;

  @media (min-width: $desktop-width) {
    padding-left: 175px;
  }
}

.reviews__author-nickname {
  font-weight: 400;
  display: block;
  margin-top: 6px;

  @media (min-width: $desktop-width) {
    padding-left: 175px;
  }
}

.reviews__buttons {
  margin: 0 auto;
  width: max-content;
  margin-bottom: 36px;
  display: flex;

  @media (min-width: $tablet-width) {
    grid-row: 3/4;
    grid-column: 3/4;
  }
}

.reviews__button {
  max-width: 400px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-top: 40px;
    padding: 13px 38px;
    margin-right: 25px;
    margin-bottom: 35px;
    font-size: 17px;

    grid-row: 1/3;
    grid-column: 3/4;
  }
}

.reviews__toggle {
  border-radius: 0;
  background-color: transparent;
  padding: 13px 38px;
  outline: none;
  font-family: inherit;
  cursor: pointer;
  border: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    padding: 5px 18px;
    border: none;
    margin-top: 41px;
  }
}
