.social__list {
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  column-gap: 27px;
  justify-content: center;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    border: none;
    align-items: baseline;
  }
}

.social__item {
  margin: auto 0;
}

.social__link {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;

  &:hover,
  &:focus {
    color: $hover-color;
  }

  &:active {
    opacity: 0.3;
  }
}
