.stats {
  margin-top: 36px;
  margin-bottom: 56px;
}

.stats__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.stats__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.stats__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 30px;
  max-width: 250px;
}
