$basic-black: #000000;
$basic-white: #ffffff;
$extra-dark: #444444;
$basic-green: #63d1bb;
$darken-green: #56c3b2;
$grey: #f1f1f1;
$light-grey: #f9f9f9;
$border-color: #ececec;
$hover-color: #46c1ae;
$modal-border: #c6c6c6;

$mobile-max-width: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;
